<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>

    <style>
        html,
        body,
        #app,
        .loading {
            height: 100%;
        }
        .loading {
            background-color: #f9f9fb;
            text-align: center;
        }
    </style>
    <!--  引入对应的 layui、element-ui、mian(自定义样式) 的css样式 -->
    <link th:href="@{/css/layui.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/element-ui.css}" rel="stylesheet">


</head>
<body class="layui-layout-body">
<div id="app">

    <!--=========一个动态显示加载的页面区域 开始 当这个区域显示虾米那对应的el-zoom-in-center不会显示同理相反========--->
    <transition name="el-zoom-in-center">
        <div v-show="loading" class="loading">
            <img th:src="@{/images/loading.gif}"/>
        </div>
    </transition>
    <!--=========一个动态显示加载的页面区域 结束========--->

    <transition name="el-zoom-in-center">
        <div v-show="!loading" class="layui-layout layui-layout-admin" v-cloak>

            <!--========页面布局的顶部区域 开始========-->
            <div class="layui-header">
                <div class='nav-left'>
                    <!--  顶部左导航栏  -->
                    <ul class="layui-nav layui-layout-left" style="margin-left: 10px;">
                        <li class="layui-nav-item" v-for="tl in topLeft">
                            <a href="#" v-on:click="tlClick(tl.clickName , tl.id)" v-bind:title="tl.title">
                                <i v-bind:id="tl.id" v-bind:class="tl.icnoClass"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class='nav-right'>
                    <!-- 头部区域（可配合layui已有的水平导航） -->
                    <ul class="layui-nav layui-layout-right">
                        <li class="layui-nav-item">
                            <a href="javascript:;">
                                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                                刘梓江
                            </a>
                            <dl class="layui-nav-child">
                                <dd><a href="javascript:;">基本资料</a></dd>
                                <dd><a href="javascript:;">安全设置</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;" v-on:click="logout()">
                                <i class="layui-icon layui-icon-logout tl-icno" title="退出系统"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--========页面布局的顶部区域 结束========-->


            <!--========页面布局的左边菜单权限信息 开始========-->
            <transition name="el-zoom-in-bottom">
                <div class="layui-side layui-bg-black" v-show="leftNavFlag">
                    <div class="layui-side-scroll">
                        <div class='layui-title'>
                            <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                            {{systemName}}
                        </div>
                        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                        <ul class="layui-nav layui-nav-tree" lay-filter="test">
                            <li class="layui-nav-item" v-for="nav in leftNavs">
                                <a class="" v-bind:href="nav.href">
                                    <i v-bind:class="nav.icnoClass"></i>
                                    {{nav.parentName}}
                                </a>
                                <dl class="layui-nav-child" v-if="nav.childData.length > 0">
                                    <dd v-for="cd in nav.childData">
                                        <a href="javascript:;">{{cd.childName}}</a>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
            </transition>
            <!--========页面布局的左边菜单权限信息 结束========-->

            <!--========页面布局的主体内容信息区域 开始========-->
            <div class="layui-body" v-loading.fullscreen.lock="fullscreenLoading">

                <div>
                    <el-breadcrumb separator-class="el-icon-arrow-right">
                        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                        <el-breadcrumb-item>活动管理</el-breadcrumb-item>
                        <el-breadcrumb-item>活动列表</el-breadcrumb-item>
                        <el-breadcrumb-item>活动详情</el-breadcrumb-item>
                    </el-breadcrumb>
                    <div style="padding: 15px;">
                       <!-- <div id="test12" class="demo-tree-more"></div>-->
                    </div>
                </div>
            </div>
            <!--========页面布局的主体内容信息区域 结束========-->
        </div>
    </transition>
</div>
</body>
<!-- 引入组件库 -->
<script th:src="@{/js/jquery-1.9.1.min.js}"></script>
<script th:src="@{/js/vue.min.js}"></script>
<script th:src="@{/js/element-ui.js}"></script>
<!--采用非模块化方式layUi js -->
<script th:src="@{/layui.js}"></script>
<script th:src="@{/js/main.js}"></script>

<script>
</script>
</html>
